*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-bold;
  src: url(/assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-extrabold;
  src: url(/assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Poppins-bolditalic;
  src: url(/assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
  font-family: Poppins-extrabolditalic;
  src: url(/assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: Poppins-italic;
  src: url(/assets/fonts/Poppins-Italic.ttf);
}
@font-face {
  font-family: Poppins-regular;
  src: url(/assets/fonts/Poppins-Regular.ttf);
}

.appcontainer{
  background-color: #F0F0F0;
  height: 100dvh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.app{
  padding: 30px;
  border-radius: 15px 15px 25% 15px;
  width: 600px;
  height: 460px;
  background-color: #FFFFFF;
}
.dates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #ECECEC;
}

.date{
  font-size: 10px;
  letter-spacing: 2px;
  font-family: Poppins-bold;
  color:#606060;
}

ul {
  list-style: none;
  text-decoration: none;
}

ul li {
  padding: 5px;
}

.grid {
  height: 112px;
  position: relative;
  font-family: Poppins-bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}

.grid input {
  cursor: pointer;
  font-family: Poppins-extrabold;
  padding: 20px;
  font-size: 20px;
  margin-top: 5px;
  width: 116px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #E2E2E2;
}

.grid input:focus{
  border: none;
  outline: 1px solid #907FBA;
}

.arrow img {
  position: absolute;
  top: 78px;
  right: 0px;
  height: 70px;
  width: 70px;
  background-color: #864DFD;
  border-radius: 50%;
  padding: 18px;
}
.arrow img:hover{
  cursor: pointer;
  background-color: black;
}
.calculateddates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  font-family: Poppins-extrabolditalic;
  font-size: 40px;
}

.calculateddates span {
  color: #884CFD;
  padding: 5px;
}

h1 {
  margin-bottom: -35px;
}