*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-bold;
  src: url(/assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-extrabold;
  src: url(/assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Poppins-bolditalic;
  src: url(/assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
  font-family: Poppins-extrabolditalic;
  src: url(/assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: Poppins-italic;
  src: url(/assets/fonts/Poppins-Italic.ttf);
}
@font-face {
  font-family: Poppins-regular;
  src: url(/assets/fonts/Poppins-Regular.ttf);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
p {
  font-family: Poppins-bolditalic;
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 7px;
}
.appcontainer{
  background-color: #F0F0F0;
  height: 100dvh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.app{
  padding: 30px;
  border-radius: 15px 15px 25% 15px;
  width: 600px;
  height: 460px;
  background-color: #FFFFFF;
}
.dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.date{
  font-size: 10px;
  letter-spacing: 2px;
  font-family: Poppins-bold;
  color:#606060;
}

.red {
  color: #F66160;
}
.red input {
  outline: 1px solid #F66160;
}

ul {
  list-style: none;
  text-decoration: none;
}

ul li {
  padding: 5px;
}

.grid {
  height: 112px;
  position: relative;
  font-family: Poppins-bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}

.grid input {
  cursor: pointer;
  font-family: Poppins-extrabold;
  padding: 20px;
  font-size: 20px;
  margin-top: 5px;
  width: 116px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #E2E2E2;
}

.grid input:focus{
  border: none;
  outline: 1px solid #907FBA;
}

.arrow img {
  position: absolute;
  top: 78px;
  right: 0px;
  height: 70px;
  width: 70px;
  background-color: #864DFD;
  border-radius: 50%;
  padding: 18px;
}
.arrow img:hover{
  cursor: pointer;
  background-color: black;
}
.calculateddates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  font-family: Poppins-extrabolditalic;
  font-size: 40px;
}

.calculateddates span {
  color: #884CFD;
  padding: 5px;
}

h1 {
  margin-bottom: -35px;
}
@media (max-width: 767px) {

  .grid{
    padding-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    
  }
  .dates { 
    padding: 10px;
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
  }
  
  .grid input {
    cursor: pointer;
    font-family: Poppins-extrabold;
    padding: 15px;
    font-size: 20px;
    margin-top: 5px;
    width: 80px;
    height: 50px;
  }
  .arrow img {
    position: absolute;
    right: 110px;
    top:115px;
    height: 60px;
    width: 60px;
    background-color: #864DFD;
    border-radius: 50%;
  }
  
  .app {
    padding: 8px;
    width: 320px;
    height: 470px;
  }

  .calculateddates{
  
    font-size: 27px;
  }
  .calculateddates span {
    color: #884CFD;
    padding: 5px;
  }
  ul li {
    padding: 3px;
  }
  h1{
    margin-bottom: -25px;
  }
  .appcontainer{
    width: 100dvw;
    background-color: #F0F0F0;
    height: 100dvh;
    display:flex;
    align-items: center;
    justify-content: center;
  }
}